$animation-time:0.4s;

.home-button{
  position: fixed;
  left:-100px;
  top:16px;
  width: 30px;
  height:30px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: content-box;
  background: #96FFFF;
  transition: left 0.3s 600ms ease;
  z-index: 99;
  img{
    width: 30px;
    height:30px
    
  }
}



.navTrigger {
  cursor: pointer;
  width: 30px; 
  height: 30px;
  position: fixed;
  margin:auto;
  background: #96FFFF;
  padding: 8px;
  box-sizing: content-box;
  right:16px;
  top:16px;
  border-radius: 4px;
  z-index: 100;
  i {
    background-color: #000;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
  }
  i:nth-child(1) {
    animation:outT $animation-time backwards;
    animation-direction:reverse;
    margin-top: 4px;
  }
  i:nth-child(2) {
    margin: 5px 0;
    animation:outM $animation-time backwards;
    animation-direction:reverse;
  }
  i:nth-child(3) {
    animation:outBtm $animation-time backwards;
    animation-direction:reverse;
  }
  &.active {
    i:nth-child(1) {
      animation:inT $animation-time forwards;
    }
    i:nth-child(2) {
      animation:inM $animation-time forwards;
    }
    i:nth-child(3) {
      animation:inBtm $animation-time forwards;
    }
  }
}

@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}


@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}


@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}