#smm{
  .step1{
    width: 100%;
    display: flex;
    color: white;
    padding: 16px;
    @include for-desktop-up{
      margin-top: 100px;
    }

    .left{
      width: 60%;
      padding-left: 36px;
      @include for-desktop-up{
        margin-top: 64px;
      }
      
      h2{
        font-weight: normal;
        letter-spacing: 0.1em;
        background: rgb(65, 65, 65);
        display: inline;
        padding: 0 4px;
      }

      h1{
        font-size: 40px;
        margin-top: 24px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      p{
        max-width: 80%;
        margin:0;
      }
    }
    .right{
      width: 40%;
      img{
        opacity: 0.9;
      }
    }
  }

  .step2{
    width: 100%;
    display: flex;
    color: white;
    padding: 16px;
    margin-top: 80px;

    .right{
      width: 40%;
      @include for-desktop-up{
        margin-top: 64px;
      }
      
      h2{
        font-weight: normal;
        letter-spacing: 0.1em;
        background: rgb(65, 65, 65);
        display: inline;
        padding: 0 4px;
      }

      h1{
        font-size: 40px;
        margin-top: 24px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      p{
        max-width: 80%;
        margin:0;
      }
    }
    .left{
      width: 60%;
      img{
        opacity: 0.9;
        max-height: 500px;
       
      }
    }
  }
}

.intro{
  width:100%;
  height:100vh;
  background-image:url('../assets/smm/smmbg.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 50%;
  position: relative;

  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(82, 0, 255, 0.85);
  }

  h4{
    position: absolute;
    top:4rem;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: 900;
    line-height: 15px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.69em;
    text-indent: 0.69em;
    color: white;
  }

  h1{
    width: 686px;
    position: absolute;
    font-style: normal;
    font-weight: 900;
    line-height: 101px;
    font-size: 96px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    top:20%;
    left:50%;
    transform: translateX(-50%);
  }
}